<html>
<head>
	
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="descripstion" content="" />
	<meta name="author" content="" />
	<title>Manage links</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<header class="py-5 bg-light border-bottom mb-4">
		<div class="container">
			<div class="text-center my-5">
				<h1 class="fw-bolder">My News Aggregator</h1>
				<p class="lead mb-0">We add the links here!</p>
			</div>
		</div>
	</header>

	<div class="row">
		<div class="container">
			<div class="card-deck">
				<div class="card">
				<div class="card-body">
					<h5 class="card-title">Add webpage</h5>
					<form action="/manage/" method="post">
						<!-- hidden input to handle multiple forms -->
						<input type="hidden" name="form_type" value="add_form">
						{% csrf_token %}
						{{ form.as_p }}
						<input type="submit" value="Submit">
					</form>
				</div>
				</div>
				<div class="card">
				<div class="card-body">
					<h5 class="card-title">Remove webpage</h5>
					<form action="/manage/" method="post">
						<input type="hidden" name="form_type" value="remove_form">
						{% csrf_token %}
						{{ form.as_p }}
						<input type="submit" value="Submit">
					</form>
				</div>
				</div>
			</div>
		</div>
	</div>


    <!-- Footer-->
  <footer class="py-5 bg-dark">
	<div class="container"><p class="m-0 text-center text-white">Designed by Trang Dang. Special thanks to DataFlair and Bootstrap template</p></div>
    </footer>

	<script
	src="http://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>