{% extends 'registration/base.html' %}

{% block title %}Log in{% endblock %}
{% block content %}

<header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Sign up to use the website aggregator!</h1>
        </div>
    </div>
</header> 

<div class="container">
    <div class="row">
      <div class="col-sm">
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
      </div>
      <div class="col-sm">
        <div class="d-flex justify-content-center">
            <p>Haven't gotten an account yet? Sign up in instead!</p>
        </div>
        <div class="d-flex justify-content-center">
            <a href="{% url 'sign-up' %}" class="btn btn-light active" role="button" aria-pressed="true">Sign up</a>
        </div>
      </div>

    </div>
  </div>


{% endblock %}